<% provide(:title, 'Contact') %>
    <h1>Sample App</h1>
    <p>
      This is a contact form.
    </p>
    <p>
      Follow me on Twitter: <a href="https://twitter.com/alcal" target="_blank"> @alcal </a>